header.page-header
	// RD Navbar
	.rd-navbar-wrap.bg-gray-dark
		nav.rd-navbar(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout="rd-navbar-static", data-sm-stick-up-offset="1px", data-md-stick-up-offset="1px",  data-lg-stick-up-offset="1px")
			.rd-navbar-inner
				// RD Navbar Panel
				.rd-navbar-panel
					// RD Navbar Toggle
					button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
						span
					// RD Navbar Brand
					.rd-navbar-brand
						a.reveal-inline-block.brand-name(href='index.html')
							img(src='images/logo-dark.png' width='245' height='36' alt='').img-responsive.center-block
							
							
				.rd-navbar-nav-wrap
					include ../_navigation