//
// Custom Pagination
// --------------------------------------------------

// Bootstrap Pagination
// -------------------------

.pagination {
  @include pagination-size(7px, 7px, 14px, 22px, 0);
  > li > a,
  > li > span {
    min-width: 40px;
    transition: .3s;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border-color: $brand-info;
    background-color: $brand-info;
    border-width: 2px;
    font-weight: 700;
    margin: 0 2px;

    @media (min-width: $screen-xs-min) {
      margin: 0 5px;
    }
  }

  > li:first-child,
  > li:last-child {
    a, span {
      span {
        position: relative;
        font-size: 11px;
        line-height: 1;
      }
    }
  }
  > li > a,
  > li > span {
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      color: $white;
      background-color: $brand-primary;
      border-color: $brand-primary;
      box-shadow: none;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      //color: $white;
      //background-color: $brand-info;
      //border-color: $brand-info;
      box-shadow: none;
    }
  }
}

