extends  ../_skeleton

block variables
	- var activeIndex =1
	- var footerLink = true
		

block title
	title Home

block page
	include ../mixins/_thumbnails
	include ../mixins/_posts
		
	// Page Header
	include ../sections/_header-minimal
		
	// Page Content
	main.page-content
		section.section-80.section-md-120.bg-gray-lighter
			.shell.shell-wide
				p.view-animate.fadeInUpBigger.delay-04.subtitle-section Hot Deals
				h2.view-animate.fadeInUpBigger.delay-06.text-center.text-ubold Our Advantages

				hr.view-animate.fadeInUpBigger.delay-06.divider.divider-80.divider-gray-dark

				.offset-top-120.range
					.cell-sm-6.cell-lg-3.wow.fadeInUp(data-wow-offset='200' data-wow-delay='0.1s')
						.icon-box-variant-1
							span.icon-xl.icon.icon-info.icon-circle.fa-star
								span.icon-inner
							h5.text-ubold All-Inclusive Cruises
							p If you’re looking for a perfect voyage then the #1 option would be our all-inclusive cruise.

					.cell-sm-6.cell-lg-3.offset-top-90.offset-sm-top-0.wow.fadeInUp(data-wow-offset='200' data-wow-delay='0.2s')
						.icon-box-variant-1
							span.icon-xl.icon.icon-info.icon-circle.fa-group(style='font-size: 54px;')
								span.icon-inner
							h5.text-ubold  Customised Experiences
							p Any cruise you book on our website can be customized according to your wishes.

					.cell-sm-6.cell-lg-3.offset-top-90.offset-lg-top-0.wow.fadeInUp(data-wow-offset='200' data-wow-delay='0.3s')
						.icon-box-variant-1
							span.icon-xl.icon.icon-info.icon-circle.fa-search(style='font-size: 40px;')
								span.icon-inner
							h5.text-ubold  User-Friendly Search System
							p Convenient and fast search for cruise tickets, ships, and destinations.

					.cell-sm-6.cell-lg-3.offset-top-90.offset-lg-top-0.wow.fadeInUp(data-wow-offset='200' data-wow-delay='0.4s')
						.icon-box-variant-1
							span.icon-xl.icon.icon-info.icon-circle.fa-credit-card(style='font-size: 46px;')
								span.icon-inner
							h5.text-ubold  Payment Facilities For You
							p We provide a variety of modern payment options including PayPal and credit cards.

		section.section-80.section-md-120
			.shell.shell-wide
				p.view-animate.fadeInUpBigger.delay-04.subtitle-section Hot Deals
				h2.view-animate.fadeInUpBigger.delay-06.text-center.text-ubold Popular Cruiselines

				hr.view-animate.fadeInUpBigger.delay-06.divider.divider-80.divider-gray-dark

				.offset-top-60.offset-lg-top-90.wow.fadeInUp(data-wow-delay='0.1s')
					// Owl Carousel
					.owl-nav-offset-90.owl-carousel.owl-carousel-middle.owl-dots-primary(data-dots='true' data-items='3', data-xs-items='4', data-sm-items='5', data-md-items='5', data-lg-items='6', data-margin='30', data-mouse-drag="false")
						a(href='#').thumbnail-gray
							img(src="images/logo-14.png", width="150", height="135", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-15.png", width="150", height="101", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-16.png", width="150", height="129", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-17.png", width="150", height="91", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-18.png", width="150", height="86", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-19.png", width="150", height="150", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-14.png", width="150", height="135", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-15.png", width="150", height="101", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-16.png", width="150", height="129", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-17.png", width="150", height="91", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-18.png", width="150", height="86", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-19.png", width="150", height="150", alt="").img-responsive
						a(href='#').thumbnail-gray
							img(src="images/logo-15.png", width="150", height="101", alt="").img-responsive

		section.bg-gray-darken.context-dark
		
			.shell-fluid.parallax-scene-wrapper
				.offset-top-0.range.range-xs-center(data-scalar-x='5', data-scalar-y='5').parallax-scene-js.parallax-scene
					
					.cell-lg-3.veil.reveal-lg-block
						.layer-05
							.layer(data-depth='0.35')
								img(src='images/parallax-05.png' width='173' height='198' alt='')
						.layer-06
							.layer(data-depth='0.15')
								img(src='images/parallax-06.png' width='354' height='404' alt='')
						.layer-07
							.layer(data-depth='0.85')
								img(src='images/parallax-07.png' width='75' height='86' alt='')
							
					.cell-xl-5.cell-lg-6.cell-md-8.wow.fadeInUp(data-wow-delay='0.1s').section-70.section-lg-120(style="position:relative; z-index: 5;")
						span.icon.icon-xl.text-info-dr.mdi.mdi-headset
						.offset-top-30.p.h1.text-ubold.p.text-spacing-0.text-capitalize.text-white='Tel. '
							a(href='callto:#').text-white 1-800-1234-567
						p.offset-top-20.offset-md-top-30.big Our Support Service is available 24 hours a day, 7 days a week to help you buy your tickets.
						a(href='contacts.html').offset-top-30.btn.btn-primary get in touch
						
					.cell-lg-3.veil.reveal-lg-block
						.layer-08
							.layer(data-depth='0.15')
								img(src='images/parallax-08.png' width='354' height='404' alt='')
						.layer-09
							.layer(data-depth='0.85')
								img(src='images/parallax-10.png' width='75' height='86' alt='')
						.layer-10
							.layer(data-depth='0.35')
								img(src='images/parallax-09.png' width='173' height='198' alt='')

		section.section-80.section-lg-120.bg-gray-lighter
			.shell.shell-wide
				p.view-animate.fadeInUpBigger.delay-04.subtitle-section Hot Deals
				h2.view-animate.fadeInUpBigger.delay-06.text-center.text-ubold Latest Blog Posts

				hr.view-animate.fadeInUpBigger.delay-06.divider.divider-80.divider-gray-dark

				// Owl Carousel
				.view-animate.fadeInUpBigger.delay-06
					.owl-dots-primary.text-left.offset-top-60.offset-lg-top-90.owl-dots-lg.owl-carousel(data-dots='true' data-items='1', data-sm-items='2', data-lg-items='3', data-margin='30', data-mouse-drag="false")
						+post-type-1('Top Cruises for Island Hopping', 'For some people, cruising is all about ticking off iconic destinations. But for others, it’s simply the best way to have a tropical holiday. There is nothing quite like being delivered to a new island paradise each day – and returning...', 'images/post-23.jpg', '530', '330', 'Sep 9, 2016 at 3:28pm', 'Article', '684 Views', 'blog-single-post.html', 'Joseph Morrison', '23 Comments')
						+post-type-1('Cruise Review: South Pacific Islands', 'A beautifully presented ship, exceptional service, great weather, fine food and entertainment and last but not least, meeting wonderful people on board. If you mix all these together and bake at around...', 'images/post-24.jpg', '530', '330', 'Sep 9, 2016 at 3:28pm', 'Article', '684 Views', 'blog-single-post.html', 'Joseph Morrison', '23 Comments')
						+post-type-1('The Best Cruise Line Loyalty Benefits', 'All major cruise lines offer  “frequent cruiser” loyalty programs that automatically start with your first cruise with the line. Most offer a multi-tier program, which means all past passengers receive benefits such as...', 'images/post-25.jpg', '530', '330', 'Sep 9, 2016 at 3:28pm', 'Video', '684 Views', 'blog-single-post.html', 'Joseph Morrison', '23 Comments')

				.view-animate.fadeInUpSmall.delay-06.offset-lg-top-90.offset-top-50
					a(href='blog-classic.html').btn.btn-primary.btn-naira.btn-naira-up
						span.icon.mdi.mdi-arrow-right-bold
						span View all blog posts

		section.section-bottom-30.section-lg-bottom-0.bg-gray-lighter
			// Owl Carousel
			.owl-dots-primary.text-left.owl-dots-lg.owl-carousel(data-dots='true' data-items='1', data-xs-items='2', data-sm-items='3', data-lg-items='4', data-xl-items='5', data-mouse-drag="true")

				+thumbnail-variant-3('Alaska Cruise Vacations','USA','Departure City:', "images/post-26.jpg", "384", "284")
					li
						a(href='tickets.html').text-info-dr Amsterdam
						div
							sup From
							p $98.00
					li
						a(href='tickets.html').text-info-dr Rome
						div
							sup From
							p $134.00
					li
						a(href='tickets.html').text-info-dr Barcelona
						div
							sup From
							p $119.00
					li
						a(href='tickets.html').text-info-dr Berlin
						div
							sup From
							p $99.00

				+thumbnail-variant-3('Europe Cruise Vacations','Italy','Departure City:', "images/post-27.jpg", "384", "284")
					li
						a(href='tickets.html').text-info-dr Paris
						div
							sup From
							p $98.00
					li
						a(href='tickets.html').text-info-dr Rome
						div
							sup From
							p $134.00
					li
						a(href='tickets.html').text-info-dr Barcelona
						div
							sup From
							p $119.00
					li
						a(href='tickets.html').text-info-dr Berlin
						div
							sup From
							p $99.00
				+thumbnail-variant-3('Caribbean Islands Vacations','Caribbean Islands','Departure City:', "images/post-28.jpg", "384", "284")
					li
						a(href='tickets.html').text-info-dr Amsterdam
						div
							sup From
							p $98.00
					li
						a(href='tickets.html').text-info-dr Rome
						div
							sup From
							p $134.00
					li
						a(href='tickets.html').text-info-dr Barcelona
						div
							sup From
							p $119.00
					li
						a(href='tickets.html').text-info-dr Berlin
						div
							sup From
							p $99.00
				+thumbnail-variant-3('Fjords of the North Vacations','Norway','Departure City:', "images/post-29.jpg", "384", "284")
					li
						a(href='tickets.html').text-info-dr Paris
						div
							sup From
							p $98.00
					li
						a(href='tickets.html').text-info-dr Rome
						div
							sup From
							p $134.00
					li
						a(href='tickets.html').text-info-dr Barcelona
						div
							sup From
							p $119.00
					li
						a(href='tickets.html').text-info-dr Berlin
						div
							sup From
							p $99.00
				+thumbnail-variant-3('Canada Cruise Vacations','Canada','Departure City:', "images/post-30.jpg", "384", "284")
					li
						a(href='tickets.html').text-info-dr Amsterdam
						div
							sup From
							p $98.00
					li
						a(href='tickets.html').text-info-dr Rome
						div
							sup From
							p $134.00
					li
						a(href='tickets.html').text-info-dr Barcelona
						div
							sup From
							p $119.00
					li
						a(href='tickets.html').text-info-dr Berlin
						div
							sup From
							p $99.00

	// Page Footer
	include ../sections/_footer-corp
			