//- Counter

//- from - count from
//- top - count to
//- title - counter title

mixin counter(from, top, title)
	// CountTo
	.counter-wrapper
		.counter(data-from=from, data-to=top)
		.counter-title=title