extends  ../_skeleton

block variables
	- var activeIndex = 3

block title
	title Masonry Blog

block page
	include ../mixins/_breadcrumb
	include ../mixins/_pagination
	include ../mixins/_posts

	// Page Header
	include ../sections/_header-default

	// Page Content
	main.page-content
		+breadcrumbs('images/breadcrumbs-04.jpg', 'Masonry Blog', 'Our Latest News',
		{
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Blog",
				"href": "#"
			},
			2: {
				"title": "Masonry Blog"
			}
		}
		)

		section.section-80.section-md-120.bg-gray-lighter
			.shell.shell-wide.text-md-left
				.range.range-xs-center
					.cell-md-push-1.cell-md-7.cell-lg-8.cell-xl-8.cell-xl-preffix-1
						.range
							.cell-md-12.cell-sm-6.cell-lg-6
								+post-masonry('9 Ways to Become a Successful Travel Blogger', 'Article', '23', '684', 'blog-single-post.html', 'Travel blogging is a crowded field — and it gets more crowded day by day. And a lot of the advice that people give are actually counterintuitive to your success. It takes a lot of hard work to be successful in this industry. After years of doing this, here are our 9 tips for running a blog that’s successful.', 'images/post-07.jpg', '570', '400', '09', 'September')

								.offset-top-30
									+post-masonry('How to Make Travel Videos', 'Article', '23', '684', 'blog-single-post.html', 'Introducing our new Travel Video Course, taught by experts Sharon Carpenter and Beverly Bennett! They have over 31,000,000 YouTube views, have worked with big brands, tourism boards, and production companies. In this course, you’ll learn how to make amazing travel videos and earn money from them!', 'images/post-09.jpg', '570', '400', '09', 'September')

							.cell-md-12.cell-sm-6.cell-lg-6.offset-top-30.offset-sm-top-0.offset-md-top-30.offset-lg-top-0
								+post-masonry('Visiting Paris on a Budget', 'Article', '23', '684', 'blog-single-post.html', 'Paris is one of top-rated European cities – people  usually try to spend there as much time as possible, and you also may be lucky enough to spend an autumn house-sitting there. But even if you have somewhere to stay, Paris is an easy place to spend money – with fantastic restaurants, shops and wine bars on every corner, and the entrance fees to all those world-class museums and attractions which soon start to add up.', 'images/post-08.jpg', '570', '400', '09', 'September')

								.offset-top-30
									+post-masonry('How Found The Path to Their Dream Trip', 'Article', '23', '684', 'blog-single-post.html', 'Last year, we announced a case study program, in which we would work with a cross-section of readers and help them plan and execute their trips. Step-by-step, we walked them through all the stages of travel planning and helped them create a roadmap toward their dream. Nearly a year later, here are their results.', 'images/post-10.jpg', '570', '400', '09', 'September')

						.offset-top-40.offset-lg-top-90
							+pagination-bootstrap("pagination", 1, 3)

					.cell-md-5.cell-lg-4.cell-xl-3
						include ../sections/_sidebar-sm

	// Page Footer
	include ../sections/_footer-default