extends  ../_skeleton

block variables
	- var activeIndex = 4

block title
	title Masonry Gallery

block page
	include ../mixins/_breadcrumb

	// Page Header
	include ../sections/_header-default

	// Page Content
	main.page-content
		+breadcrumbs('images/breadcrumbs-04.jpg', 'Masonry Gallery', 'Enjoy The Best Photos From  Our Destinations',
		{
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Pages",
				"href": "#"
			},
			2: {
				"title": "Masonry Gallery"
			}
		}
		)

		section.section-80.section-md-120
			.shell.shell-wide
				.row.isotope-wrap
					// Isotope Filters
					.col-lg-12
						.isotope-filters.isotope-filters-horizontal
							ul.nav-custom
								li
									a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All Offers
								li
									a(data-isotope-filter='Type 1', data-isotope-group='gallery', href='#') Europe
								li
									a(data-isotope-filter='Type 2', data-isotope-group='gallery', href='#') North America
								li
									a(data-isotope-filter='Type 3', data-isotope-group='gallery', href='#') Asia
								li
									a(data-isotope-filter='Type 4', data-isotope-group='gallery', href='#') Australia

					// Isotope Content
					.col-lg-12.offset-top-60
						.isotope(data-isotope-layout='masonry', data-isotope-group='gallery')
							.row.text-md-left
								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='*')
									.thumbnail
										img(src='images/gallery-25.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 3')
									.thumbnail
										img(src='images/gallery-26.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 3')
									.thumbnail
										img(src='images/gallery-27.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 3')
									.thumbnail
										img(src='images/gallery-28.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 2')
									.thumbnail
										img(src='images/gallery-29.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 2')
									.thumbnail
										img(src='images/gallery-30.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 1')
									.thumbnail
										img(src='images/gallery-31.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 1')
									.thumbnail
										img(src='images/gallery-33.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 1')
									.thumbnail
										img(src='images/gallery-32.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 4')
									.thumbnail
										img(src='images/gallery-34.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 4')
									.thumbnail
										img(src='images/gallery-35.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

								.col-xs-12.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 4')
									.thumbnail
										img(src='images/gallery-36.jpg' alt='').img-responsive.center-block.thumbnail-image
										a(href='tickets.html').caption
											h4 London
											hr.divider.divider-white.divider-md-left.divider-40
											p When booking a ticket on our website, all you need to think of is the list of things you’ll pack in your suitcase, we will do everything else for you!

	// Page Footer
	include ../sections/_footer-default